@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome!</h1>
Using this handy website you can manage Expert Network's interplanatary fleet of starships!

<h3>Endpoint list</h3>
(Grouped by function)

<h4>Ship</h4>
<a asp-area="" asp-controller="Ships" asp-action="Index">Ship endpoint</a> |
<a asp-area="" asp-controller="ShipModels" asp-action="Index">Ship Model endpoints</a>

<h4>Crew</h4>
<a asp-area="" asp-controller="Crews" asp-action="Index">Crew endpoint</a> |
<a asp-area="" asp-controller="Roles" asp-action="Index">Roles endpoint</a>

<h4>Navigation</h4>
<a asp-area="" asp-controller="Destinations" asp-action="Index">Destinations endpoint</a>

<h4>Storage</h4>